.App{
  display: grid;
  gap: 1rem;
}

.menubar{
  color: white;
  text-decoration: none;
}
.header{
  display: grid;
  grid-template-columns: auto 1fr;
  height: 80px;
  align-items: center;
  background-color: rgb(1, 1, 1);
  
}
.logo{
  padding-left: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.header-list ul{
  list-style: none;
}
 .menu{
  width: 80%;
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 10px 50px;
  
 }
.module-title{
  color: #4a4a4a;
  font-weight: bold;
  float: left;
}
 .madule-tutle{
  float: right;
 }
.input{
  background-color: black;
  width: 150px;
  height: 30px;
  color: white;
}
.main{
  padding: 1rem;
}
.articleimg{
  width: 300px;
}
.article-list{
 list-style: none;
 display: grid;
 grid-template-columns: repeat(auto-fit, 310px) ;

 gap: 0.8rem;
}

.article{
  border: 1px solid rgb(171, 171, 171);

}
.homepage{
  display: grid;

}

.newsone{
  border: 1px solid rgb(171, 171, 171);
}
.news{
  list-style: none;
 display: grid;
 grid-template-columns: repeat(auto-fit, 602px) ;


 gap: 0.8rem;
}